### IGDB API Properties ###
igdb.api.baseurl=https://api.igdb.com/v4/games
igdb.api.client_id={id}
igdb.api.client_secret={secret}}
igdb.api.token_endpoint=https://id.twitch.tv/oauth2/token


### Server properties ###
server.port=8081

### Database properties ###
spring.datasource.username={username}
spring.datasource.password={password}
spring.datasource.url=jdbc:postgresql://{localhost/lookingtoplay}